//old code
.sidebar-category
  @extends $card
  ul
    margin 0
    padding 0
    list-style none
  li
    margin 0
    padding 0
  a
    text-decoration none
    color gray(70)
    padding 10px 5px
    display block
    &:hover
      background gray(5)
      color gray(90)
