.form-search
  box-sizing border-box
  height 100%
  width 100%

  .wrap-input
    position relative
    height 40px

  input
    display block
    position absolute
    box-sizing border-box
    width 100%
    top 0
    right 0
    left 0
    bottom 0
    padding 4px 40px 4px 8px
    font-size 16px
    line-height: 16px
    border none
    border-radius 8px
    color _color12
    outline none
    background _gray10

    &:focus
      background darken(_gray10, 5)
