[class^="icon-"]
[class*=" icon-"]
  display inline-block


[class^="emoji-"]
[class*=" emoji-"]
  display inline-block


.emoji
  .collections-menu &
    box(24px)


.icon
  .header .btn-icon &
    box(16px)
    fill _color12

  .btn-search &
    box(24px)
    fill _color12

  .nav-social &
    box(24px)
    fill #fff

  .quote-share &
    box(16px)
    fill _color12

.icon-x
  .header &
    display none

  .showSearch .close &
    display block

  .showMenu .close &
    display block


.icon-menu
  .showMenu &
    display none


.icon-magnifier
  .showSearch .header-nav &
    display none

  .landing form &
    position absolute
    fill #fff
    box(24px)
    right 8px
    top 24px

.icon-arrow
  .collections-menu &
    box(12px)
    fill _color12
    transform rotate(90deg)

  .collections-menu.expanded &
    transform rotate(-90deg)
