// http://itcss.io/
//http://patternlab.io/

// Generic: Ground-zero styles (Normalize.css, resets, box-sizing).
@import 'normalize'

// Tools: Default mixins and functions.
// @import 'nib/clearfix'
// @import 'tools/functions'
// @import 'tools/mixins'
// @import 'tools/blocks'
@import 'nib/clearfix'


// Settings: Global variables, config switches.
// @import 'settings/colors'
// @import 'settings/global'
@import 'vars'


@import 'tools'
@import 'colors'



// Base: Unclassed HTML elements (type selectors).
// @import 'base/fontface'
// @import 'base/page'
// @import 'base/text'
// @import 'base/lists'
// @import 'base/images'
// @import 'base/forms'
// @import 'base/inputs'
// @import 'base/tables'


// Objects: Cosmetic-free design patterns.
// @import 'objects/grid'
// @import 'objects/layout'
// @import 'objects/navigations'
// @import 'objects/boxes'
// @import 'objects/alerts'
// @import 'objects/breadcrumbs'
// @import 'objects/pagination'


@import 'grid'

// Components: Designed components, chunks of UI.
// @import 'components/tabs'
// @import 'components/headlines'
// @import 'components/auth-form'
// @import 'components/header-nav'
// @import 'components/footer-nav'
// @import 'components/form-review'

@import 'modules/texts'
@import 'modules/icons'
@import 'modules/buttons'
@import 'modules/forms'
@import 'modules/cards'
@import 'modules/landing'
@import 'modules/sidebar'

@import 'layout'

//very specific styles
@import 'modules/quote'


// Trumps: Helpers and overrides.
// @import 'helpers'


// Styles for Pages
// @import 'pages/home'

//Styles for deprecated modules to clear
@import 'modules/deprecated'
