//colors
_gray10 = #F5F5F5
_color12 = #464866
_bg12 = #F2F2F2
_bg13 = #E6E6E6

facebookColor = #3b5998
twitterColor = #1da1f3

_colorFacebook = #3b5998
_colorTwitter = #1da1f3


//shadows
_shadow_header = 0px 1px 2px 1px rgba(70, 72, 102, 0.15)
_shadow_card = 0px 1px 2px rgba(0, 0, 0, 0.05)
_shadow_btn_hover = 0px 3px 5px 1px rgba(70, 72, 102, 0.15)


//fonts
_font_family1 = "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif

_font_family2 = 'Libre Baskerville', serif
